.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}
.inputItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
